body{
    background-color: #f7fcf5; /*#FFF8E7*/
    color: black;
    text-align: center;
    font-family: Georgia;
    margin-left: 10%; /*margin: 40px;*/
    margin-right: 10%;
}

h1{
    background-color: #41ab5d;
    border-style: solid;
    border-radius: 10px;
    border-color: #41ab5d;
    padding: 20px;
    font-size: 40px;
    color: white;
    /*display: inline-block; /*Inline-block makes item sit in middle of page*/
}

#entryCenter{
    font-size: 30px;
    border-style: solid;
    border-radius: 40px;
    border-color: #a1d99b;
    background-color: #a1d99b;
    padding: 5px;
    display: inline-block;
}

#entry{
    text-align: left;
    font-size: 30px;
    border-style: solid;
    border-radius: 20px;
    border-color: #a1d99b;
    background-color: #a1d99b;
    padding: 10px;
    width: fit-content;
}

p{
    /*background-color: rgb(201, 201, 201); /*lightslategray*/
    /*border-style: solid;
    border-radius: 10px;
    border-color: rgb(201, 201, 201);*/
    font-family: Verdana;
    padding: 20px;
}

/*CSS for tags with respective IDs (used in <span>)*/
#education{
    font-size: medium;
    /*font-style: oblique;*/
    background-color: rgb(240, 0, 0);
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}

#work{
    font-size: medium;
    /*font-style: oblique;*/
    background-color: pink;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}

#personal{
    font-size: medium;
    /*font-style: oblique;*/
    background-color: green;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}

#published{
    font-size: medium;
    /*font-style: oblique;*/
    background-color: gold;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}
