body{
    background-color: whitesmoke; /*#FFF8E7*/
    color: black;
    text-align: center;
    font-family: sans-serif;
    margin-left: 5%; /*margin: 40px;*/
    margin-right: 5%;
}

h1{
    background-color: blue;
    border-style: solid;
    border-radius: 10px;
    border-color: blue;
    padding: 20px;
    font-size: 40px;
    color: white;
    display: inline-block; /*Inline-block makes item sit in middle of page*/
}

h2{
    font-size: 30px;
}

#entry{
    text-align: left;
    font-size: 30px;
    font-weight: normal;
}

p{
    background-color: lightslategray;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    border-color: lightslategray;
}

/*CSS for tags with respective IDs (used in <span>)*/
#education{
    font-size: medium;
    /*font-style: oblique;*/
    background-color: rgb(240, 0, 0);
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}

#work{
    font-size: medium;
    /*font-style: oblique;*/
    background-color: pink;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}

#personal{
    font-size: medium;
    /*font-style: oblique;*/
    background-color: green;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}

#published{
    font-size: medium;
    /*font-style: oblique;*/
    background-color: gold;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}
